# config where libs are statically linked

BR2_sparc=y
BR2_DEFCONFIG="$(CONFIG_DIR)/defconfig"
BR2_OPTIMIZE_3=y
BR2_PREFER_STATIC_LIB=y
BR2_PACKAGE_HOST_GDB=y
BR2_TARGET_GENERIC_HOSTNAME="Ajit"
BR2_TARGET_GENERIC_ISSUE="Welcome to Ajit_linux"
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/board/overlay/initramfs"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL_PATH="$(BR2_EXTERNAL)/../Ajit_linux_3.16.1"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL)/board/Ajit_minimal_linux_kernel.config"
BR2_LINUX_KERNEL_VMLINUX=y
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
