# Config that have dynamically linkked libs

BR2_sparc=y
BR2_DEFCONFIG="$(CONFIG_DIR)/defconfig"
BR2_OPTIMIZE_3=y
# BR2_PREFER_STATIC_LIB is not set
BR2_PACKAGE_HOST_GDB=y
BR2_TARGET_GENERIC_HOSTNAME="Ajit"
BR2_TARGET_GENERIC_ISSUE="Welcome to Ajit_linux"
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/board/overlay/rootfs"
BR2_PACKAGE_DHRYSTONE=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_WHETSTONE=y
