[submodule "from_ajit_repo/simulators/c_model/code/sdhc_testbench"]
	path = from_ajit_repo/simulators/c_model/code/sdhc_testbench
	url = git@github.com:Priyankar1996/AjitPeripherals.git
	branch = master
